.venv/
__pycache__/
*.py[cod]
db.sqlite3
*.sqlite3
.env
.vscode/
# Lab2 Docker/env
.env
**/.env
__pycache__/
*.pyc
db.sqlite3
staticfiles/

# Lab2 runtime files
lab2/nginx/certs/*.key
lab2/nginx/certs/*.crt
lab2/create_boardgame.json
lab2/patch_boardgame.json
