POSTGRES_DB=lab2_db
POSTGRES_USER=django
POSTGRES_PASSWORD=django_password_123
POSTGRES_PORT=5432

PGDATABASE=lab2_db
PGUSER=django
PGPASSWORD=django_password_123
PGHOST=postgres-service
PGPORT=5432

DJANGO_SECRET_KEY=django-insecure-lab2-dev-key-ostapenko
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend-service,nginx-service
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1,https://localhost,https://127.0.0.1

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin12345
DJANGO_SUPERUSER_EMAIL=admin@example.com
